body {
    background-color:rgb(255, 225, 244);
    margin:0;
    font-family: system-ui, Arial, Helvetica, sans-serif;
}

.app {
    max-width: 750px;
    padding: 0 16px;
    margin: 40px auto;
    display: grid;
    gap: 16px;
}


.card {
    background-color:honeydew;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

#timeDisplay {
    font-size: 50px;
    font-weight: 700;
    margin: 12px 0;

}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(150, 221, 150);
    cursor: pointer;
    margin-right: 10px
    
}

input {
    padding: 10px 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 60%;
}

.taskItem.done {
    text-decoration: line-through;
}

.secondary {
padding: 10px 15px;
    border: none;
    position: relative;
    height: 10px;
    width: 12px;
    left: 100px;
    bottom: 25px;
    border-radius: 10px;
    background-color: rgb(150, 221, 150);
    cursor: pointer;
    margin-right: 10px

}